# Environment files (Never commit secrets)
.env
.env.*
*.env
!.env.example

# Dependencies
/node_modules
/.pnp
.pnp.js
package-lock.json.bak

# Next.js build & cache
/.next/
/out/
/build
/dist
.vercel
.turbo

# Testing & Coverage
/coverage
*.lcov

# Logs & Debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS & Editor files
.DS_Store
*.pem
Thumbs.db
.vscode/
.idea/

# Database & runtime
*.sqlite
*.sqlite3
*.db
*.pyc
__pycache__/
venv/
.agents/
